<!DOCTYPE html>

<html>
    <head>
        <title>Employee List CRUD</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
         crossorigin="anonymous">
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    </head>

    <body class="bg-dark">
        <div class="row">
            <div class ="col-md-6.offset-md3" style="background-color: #fff; padding:20px; margin:auto; margin-top: 12%;">
            {{{body}}}
            </div>>
        </div>



    </body>
</html>