<h3>{{viewTitle}}</h3>

<form>
    <div class="form-group">
        <label>Full Name:</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
    </div>
        <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="email" placeholder="E-mail">
    </div>
</form>